*{
  margin: 0;
  padding: 0;
}

#header {
  height: 80vh;
  background-image: url("../images/stock.jpg");
  background-color: #cccccc;
}

#header h1 {
  color: #FFF;
  font-size: 5rem;
}

#header h2 {
  color: #FFF;
  font-weight: 100;
}

#header h3 {
  color: #FFF;
  font-weight: 100;
}

#header h4 {
  color: #FFF;
  font-weight: 100;
}

#footer { 
  color: #FFF;
}

.background_gradiente {
  background: #f0f0f5;
}
